application:
  name: loan-gateway

tracer:
  host: ${TRACER_HOST:localhost}
  port: ${TRACER_PORT:6831}

spring:
  kafka:
    bootstrap-servers: ${KAFKA_URL:kafka:9092}
    producer:
      properties:
        interceptor:
          classes: io.opentracing.contrib.kafka.TracingProducerInterceptor
  data:
    mongodb:
      uri: ${MONGO_URL:mongodb://localhost:27017/loan-gateway}
server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: metrics,prometheus,info,health

